[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=betterColorCycler
X-Python-2-Compatible=false
X-Krita-Manual=manual/Manual.html
Name= Better Color Cycler
Comment= Adds better shortcuts
