# [Desktop Entry]
# Type=Service
# ServiceTypes=Krita/PythonPlugin
# X-KDE-Library=color_swatch_extension
# X-Python-2-Compatible=false
# X-Krita-Manual=false
# Name=Color Swatch Extension
# Comment=Displays a preview of the current foreground color (extension version)


# [Desktop Entry]
# Type=Service
# ServiceTypes=Krita/PythonPlugin
# X-KDE-Library=color_swatch_extension
# X-Python-2-Compatible=false
# X-Krita-Manual=false
# Name=Color Swatch Extension
# Comment=Displays a preview of the current foreground color (extension version)


[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=color_swatch_extension
X-Python-Import=color_swatch_extension
X-Python-2-Compatible=false
X-Krita-Manual=false
Name=Color Swatch Extension
Comment=Displays a preview of the current foreground color (extension version)
